@import "tailwindcss";

/* Set the font on the root element */
:root {
  font-family: "sohne-var", "Helvetica Neue", Arial, sans-serif;
  background-color: #f6f9fc;
}

h1 {
  letter-spacing: -0.02em;
  line-height: 56px;
}

p {
  letter-spacing: .2px;
}

@theme {
  --color-titleMain: #0a2540;
  --color-textMain: #425466;
}